
*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: rem(1760px);
    margin: 0 auto;
}
section{
    margin-bottom: rem(100px);
    .section__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem(60px);
        h2{
            margin: 0;
        }
    }
}
@media (max-width: 580px) {
    section{
        margin-bottom: rem(60px);
    }
    .section__top{
        margin-bottom: rem(32px);
    }
    .section__more{
        display: none;
    }
}