.header{
    padding-bottom: rem(15px);
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu{
        width: 100%;
        max-width: rem(996px);
    }
    &__nav-list{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &__nav-item{
        a{
            font-family: "Montserrat" ;
            font-size: 1rem;
        }
        a:hover{
            text-shadow:1px 0px 0px $color-green;
        }
    }
    &__burger{
        cursor: pointer;
        display: none;
    }
    &__mobile-menu{
        display: none;
    }
}
.main-screen{
    .container{
        height: rem(760px);
    }
    &__slide{
        height: 100%;
        width: 100%;
        position: relative;
        background-size: cover;
        background-repeat:no-repeat;
    }
    &__content{
        max-width: rem(610px);
        background-color: $color-green;
        position: absolute;
        bottom: rem(50px);
        right: rem(50px);
        padding: rem(50px) rem(96px) rem(50px) rem(60px);
    }
    &__title{
        background-image: $gradient-gold;
        color: transparent;
        background-clip: text; 
        text-transform: uppercase;
        font-size: rem(24px);
        margin-bottom: rem(24px);
    }
    &__text{
        color: $color-white;
        margin-bottom: rem(44px);
        font-size: rem(16px);
        line-height: rem(24px);
    }
    .swiper-button-prev, .swiper-button-next{
        color: $color-white;
        background-color: rgba($color-white, 0.2);
        backdrop-filter: blur(5px);
        width: rem(100px);
        height: rem(100px);
        border-radius: 100px;
    }
    .swiper-pagination-bullet{
        width: rem(40px);
        background-color: $color-white;
        border-radius: 5px;
        height: rem(5px);
    }
    .swiper-pagination{
        bottom: var(--swiper-pagination-bottom, 40px);
    }
}

.about{
    &__text{
        max-width: rem(1153px);
        margin-bottom: rem(50px);
    }
}
.advantages{
    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: rem(20px);
        grid-auto-rows: rem(300px);
    }
    &__item{
        position: relative;
    }
    &__text{
        background-color: $color-green;
        color: $color-white;
        padding: rem(10px) rem(13px) rem(2px);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        position: absolute;
        bottom: rem(24px);
        left: rem(30px);
        width: 100%;
        max-width: 226px;
        font-size: 1rem;
        text-align: center;
        text-transform: lowercase;
        height: rem(100px);
    }
    &__numbers{
        font-size: 2rem;
        text-transform: uppercase;
    }
}
.programs{
    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: rem(20px);
        justify-content: start;
    }
}
.card{
    max-width: rem(425px);
    position: relative;
    display: flex;
    flex-direction: column;
    &__img{
        width: 100%;
        height: 425px;
        object-fit: cover;
        margin-bottom: rem(24px);
    }
    &__name{
        text-transform: uppercase;
        padding: 1rem rem(50px);
        background-color: rgba($color-gray, 0.7);
        width: fit-content;
        position:absolute;
        right: rem(24px);
        top:rem(340px);
    }
    &__desc{
        margin-bottom: rem(24px);
    }
    &__url{
        margin-top: auto;
        text-transform: uppercase;
        color:$color-accent;
        font-family: "Montserrat";
    }
}
.estate{
    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
    }
    &__item{
        margin-bottom: 30px;
    }
    &__img{
        object-fit: cover;
        margin-bottom: rem(25px);
    }
    &__location{
        text-transform: uppercase;
    }
}
.club{
    &__container{
        position: relative;
        max-width: 1460px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: rem(400px);
    }
    &__text{
        background-color: rgba($color-gray, 0.7);
        width: fit-content;
        text-transform: uppercase;
        padding: rem(30px) rem(60px);
        position: absolute;
        top: 0;
        right: rem(70px);
    }
    &__btn{
        position: absolute;
        bottom: rem(50px);
        right: rem(80px);
        padding: rem(10px) rem(80px);
    }
}
.services{
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: $color-gray;
    }
    &__item-text{
        display: none;
        margin-top: rem(15px);
    }
    &__img{
        width: 100%;
    }
    &__list{
        padding: rem(80px) rem(100px) 0 rem(120px);
    }
    &__item{
        border-bottom: 1px solid $color-accent;
        padding-bottom: rem(25px);
        margin-bottom: rem(25px);
        position: relative;
        cursor: pointer;
    }
    &__item-plus{
        font-size: 55px;
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        height: rem(28px);
        display: flex;
        align-items:center;
        justify-content: center;
    }
}
.news{
    &__list{
        display: grid;
        gap: rem(20px);
        grid-template-columns: 2fr 1fr 1fr;
    }
    &__card{
        display: flex;
        flex-direction: column;
    }
    &__card-img{
        width: 100%;
        object-fit: cover;
        margin-bottom: rem(25px);
        height: rem(425px);
    }
    &__card-date{
        color: $color-accent;
        margin-bottom: rem(25px);
    }
}
.social{
    background-color: $color-gray;
    text-align: center;
    padding: rem(25px) 0 rem(60px);
    &__title{
        display: inline-block;
        margin: 0 auto rem(60px);
    }
    &__links{
        display: flex;
        gap: rem(80px);
        align-items: center;
        justify-content: center;
    }
}

.feedback{
    .container{
        background-color: $color-green;
        padding: rem(38px) 0 rem(50px) rem(45px);
    }
    &__text{
        color: $color-white;
        display: inline-block;
        margin-bottom: rem(50px);
    }
    &__form{
        display: grid;
        grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);
        grid-row-gap: rem(30px);
    }
    &__input{
        border: none;
        border-bottom: 1px solid $color-white;
        color: $color-white;
        background-color: transparent;
        padding: 0 0 rem(14px);
    }
    &__input::placeholder{
        color: $color-white;
        font-size: 1rem;
    }
    &__input:nth-child(1){
        width: 100%;
        max-width: rem(200px);
        margin-right: rem(60px);
    }
    &__input:nth-child(2){
        width: 100%;
        max-width: rem(200px);
        margin-right: rem(100px);
    }
    &__input:nth-child(3){
        width: 100%;
        max-width: rem(560px);
        margin-right: rem(100px);
    }
    &__input:nth-child(4){
        width: 100%;
        max-width: rem(460px);
        grid-row: 2/3;
        grid-column: 1/3;
    }
    &__btn{
        grid-column: 4/5;
        grid-row: 2/3;
        padding: 1rem rem(64px);
        margin-left: rem(72px);
    }
}
.footer-bottom{
    .container{
        display: flex;
        align-items: start;
        justify-content: space-between;
    }
    &__menu-item{
        font-family: "Montserrat";
        text-transform: uppercase;
    }
    &__menu-list{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__contacts{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-family: "Montserrat";
    }
}
.more-mobile{
    display: block;
    margin: rem(28px);
    text-align: center;
    display: none;
}
@media(max-width: 580px){
    .more-mobile{
        display: block;
    }
    .header__menu{
        display: none;
    }
    .header{
        position: fixed;
        background-color:  $color-white;
        width: 100%;
        z-index: 999;
        padding-bottom: 0;
        .btn-contact{
            display: none;
        }
        &__logo{
            width: rem(50px);
        }
        .container{
            padding-top: rem(10px);
            padding-bottom: rem(10px);
        }
    }
    main{
        margin-top: rem(70px);
    }
    .container{
        padding: 0 rem(20px);
    }
    .main-screen{
        .container{
            padding: 0;
        }
    }
    .header__mobile-menu{
        padding: rem(30px) rem(20px);
        background-color: $color-gray;
        display: none;
        &-list{
            display: flex;
            flex-direction: column;
            gap:rem(24px);
            margin-bottom: rem(58px);
        }
        &-item{
            text-transform: uppercase;
            font-size: rem(14px);
            font-family: "Montserrat";
        }
        .social__links{
            justify-content: flex-start;
            gap: rem(30px);
        }
        .social__icon{
            width: rem(28px);
            height: rem(28px);;
        }
    }
    .main-screen{
        .container{
            height: rem(420px);
        }
        .swiper-button-prev, .swiper-button-next{
            display: none;
        }
        .swiper-pagination{
            display: none;
        }
        &__text, &__btn{
            display: none;
        }
        &__content{
            max-width: rem(240px);
            padding: 1rem rem(30px);
            right: rem(20px);
            bottom: rem(50px);
        }
        &__title{
            margin: 0;
            font-weight: 400;
        }
    }
    .advantages{
        &__list{
            grid-template-columns: 1fr;
        }
        &__text{
            max-width: 100%;
            left: 0;
            bottom:0;
            height: rem(66px);
        }
        &__numbers{
            font-size: 1rem;
        }
    }
    .programs{
        &__list{
            flex-wrap: nowrap;
            overflow-x: scroll;
            gap: rem(10px);
        }
        .card{
            width: rem(252px);
            flex-shrink: 0;
            &__img{
                height: 200px;
            }
            &__name{
                top :rem(140px);
                right: rem(20px);
                font-size: rem(14px);
                padding: rem(8px) rem(20px);
            }

        }
    }
    .estate{
        &__list{
            flex-wrap: nowrap;
            overflow-x: scroll;
            gap: rem(10px);
        }
        &__img{
            width: rem(252px);
            height: rem(200px);
            margin-bottom: rem(12px);
        }
        &__item{
            flex-shrink: 0;
            margin-bottom: 0;
        }
    }
    .club{
        &__text{
            right: initial;
            width: 100%;
            left: 0;
            text-align: center;
            font-size: rem(16px);
            line-height: rem(24px);
            padding: rem(15px) rem(30px);
        }
        &__btn{
            width: 90%;
            left: 50%;
            transform: translateX(-50%);
            backdrop-filter: blur(5px);
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: rem(20px);
        }
    }
    .services{
        padding: 0 rem(20px);
        .container{
            grid-template-columns: 1fr;
            padding: 0;
        }
        &__list{
            padding: rem(32px) rem(10px);
        }
        &__item{
            padding-bottom: rem(12px);
        }
        &__item-name{
            display: inline-block;
            width: 80%;
            font-size: 1rem
        }
        &__item-text{
            width: 80%;
        }
        &__item-plus{
            bottom: rem(12px);
            top: initial;
        }
    }
    .news{
        &__list{
            display: flex;
            gap: rem(10px);
            overflow-x: scroll;
        }
        &__card{
            flex-shrink: 0;
            width: rem(252px);
        }
        &__card-img{
            width: 100%;
            height: rem(200px);
            margin-bottom: rem(10px);
        }
        &__card-date{
            font-size: rem(12px);
            margin-bottom: rem(6px);
        }
    }
    .social{
        padding: rem(24px) rem(64px) rem(34px);
        &__title{
            margin-bottom: rem(21px);
        }
        &__links{
            gap: initial;
            justify-content: space-between;
        }
        &__icon{
            width: rem(34px);
            height: rem(34px);
        }
    }
    .feedback{
        .container{
            padding: rem(30px) rem(20px);
        }
        &__text{
            margin-bottom: rem(25px);
        }
        &__form{
            display: flex;
            flex-direction: column;
        }
        &__input{
            max-width: 100% !important;
            font-size: rem(14px);

        }
        &__btn{
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            padding: rem(8px);
        }
    }
    .footer-bottom{
        .container{
            flex-direction: column;
        }
        &__logo{
            width: rem(72px);
            margin-bottom: rem(14px);
        }
        &__menu-list{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: rem(74px);
            margin-bottom: rem(54px);
        }
        &__contacts{
            margin-bottom: rem(40px);
        }
        .btn-contact{
            width: 100%;
            display: flex;
            justify-content: center;
            padding: rem(10px);
            align-items: center;
            gap: rem(14px);
        }
    }
}